<!DOCTYPE html>
<html>
<head>
  <title>VirtualMachineManager</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<a href="/machines">machines</a> |
 <a href="/places">places</a> |
 <a href="/users">users</a> |
 <a href="/departments">departments</a>


<%= yield %>

</body>
</html>
